<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Panthers</title>
  </head>
  <body>
    <h2>New Panther Form:</h2>
    <form class="form" action="/panthers" method="post">
      Panther name:
      <input type="text" name="name">
      Panther color:
      <input type="text" name="color">
      <input type="submit" value="Add a panther!">
    </form>
    <br>
    <a href="/">Main</a>
  </body>
</html>
